.auth-container {
  padding: 150px 0;
  height: 100vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include tablet {
    justify-content: center;
  }
  /* Left */
  .auth-left {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      width: 100%;
    }

    .left-container-auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-height: 700px;
      height: 100%;
      border-radius: 20px;
      @include tablet {
        width: 100%;
      }
      h2 {
        color: var(--color-text);
        font-weight: 500;
        @include mobile {
          width: 70%;
          text-align: center;
        }
      }
    }
  }

  /* Form styles */
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 80%;

    .auth-form-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      p {
        font-weight: 500;
        color: var(--color-text);
      }

      .auth-form {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 12px;
        border: none;
        font-weight: 500;
        padding-left: 10px;
      }
    }

    .auth-form-btn {
      width: 150px;
      height: 48px;
      color: $baseLight;
      background-color: $secondLight;
      font-weight: 500;
      border-radius: 12px;
      cursor: pointer;
      border: none;
      transition: 1s;
    }

    .auth-last-p {
      color: var(--color-text);
      font-weight: 500;
      text-align: center;
      width: 80%;

    }
  }
  .auth-form-link {
    padding-left: 10px;
    cursor: pointer;
  }
}

/* Right */
.auth-right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .right-container {
    width: 100%;
    max-height: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0 1%;
    :first-child {
      height: 100%;
      width: 100%;
    }
    @include tablet {
      display: none;
    }
  }
  @include tablet {
    display: none;
  }
}
