.light-mode-card-background {
  background: rgba(245, 245, 245, 0.91);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.card-container {
  width: 100%;
  max-width: 1440px;
  margin: 80px auto;
}