@import "./mixins";
@import "./reset";
@import "./variables";
@import "./global";
@import "./modes";
@import "./typography";
@import "./transitions";
// Import component-specific Sass files
@import "./components/footer.scss";
@import "./components/header.scss";
@import "./components/bannercard.scss";
@import "./components/featuredcard.scss";
@import "./components/game.scss";

// Import page-specific Sass files
@import "./pages/homepage.scss";
@import "./pages/about.scss";
@import "./pages/auth.scss";

//Import game specific Sass files
@import "./games/shootinggame.scss";


/*App.jsx*/
.application-container {
  position: relative;
  height: fit-content;
  width: 100%;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  padding-bottom: 400px; /*keep footer below all content*/
}
/*Background color stripes*/
.bg-color-primary {
  width: 300px;
  height: 5000px;
  background-color: $mainLight;
  position: absolute;
  rotate: 30deg;
  top: -500px;
  right: 1340px;

  z-index: -1;
}

.bg-color-secondary {
  width: 300px;
  height: 5000px;
  background-color: $secondLight;
  position: absolute;
  rotate: 30deg;
  top: -500px;
  right: 1000px;

  z-index: -1;
}
